@model LarpCharacterBuilder3.Models.Character

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Character</title>
</head>
<body>
<div>
    This is the Character Sheet.  
</div>
</body>
</html>