@page
@model LarpCharacterBuilder3.PageModels.CharacterSkill.IndexModel
@{
    ViewData["Title"] = "All Character Skill";
}

<h1>Learned Skills</h1>
<p>The following table shows all the skills learned by all characters.</p>
<form method="post">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Skill</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var characterskill in Model.CharacterSkills)
        {
            <tr>
                <td>@characterskill.Character.Name</td>
                <td>@characterskill.Skill.Name</td>
                <td>
                    <button type="submit" asp-page-handler="delete"
                            asp-route-characterId="@characterskill.CharacterId" asp-route-skillId="@characterskill.SkillId">forget
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <a asp-page="Create">Create New</a>
</form>